<!DOCTYPE html>
<html lang="en">
<head>
    <title>Google Maps in Django</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var location = { lat: 26.5591, lng: 88.0216 };  // Kathmandu, Nepal
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>
</head>
<body>
    <h2>Google Map Integration</h2>
    <div id="map" style="width: 100%; height: 500px;"></div>
</body>
</html>
